@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<div class="container">
<h4>Add a Engineer below:</h4>


@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Add Engineer"/>
}


<button class="button-49 custom-width">@Html.ActionLink("Home", "Index", "Home")</button>
<button class="button-49 custom-width">@Html.ActionLink("Machines", "Index")</button>
<button class="button-49 custom-width">@Html.ActionLink("Engineers", "Index")</button>
</div>