<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Factory</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custombutton.css" />
    <link rel="stylesheet" href="~/css/header.css" />
</head>
<body>
    <header>
        <div class="header__layout">
            <h1 class="header__title">Welcome to the Factory</h1>
            <nav class="header__nav">
                <button class="button-49" role="button">@Html.ActionLink("Factory", "Index", "Home")</button>
                <button class="button-49" role="button">@Html.ActionLink("Engineers", "Index", "Engineers")</button>
                <button class="button-49" role="button">@Html.ActionLink("Machines", "Index", "Machines")</button>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Factory - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

